<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyun.financemanager.system.mapper.ReimbursementMapper">

    <insert id="insertReimbursement" parameterType="com.yunyun.financemanager.common.entity.Reimbursement">
INSERT INTO reimbursement (
	NAME,
	reimburse_amount,
	pics,
	project_id,
	members,
	reimbursement_type_id,
	occur_time,
	real_amount
)
VALUES
	(#{name},#{reimburseAmount},#{pics},#{projectId},#{members},#{reimbursementTypeId},#{occurTime},#{realAmount})

    </insert>


</mapper>